In [1]:
# -*- coding: utf-8 -*-

### 기본 라이브러리 불러오기
import pandas as pd
import folium

In [10]:
# 서울시내 중학교 진학률 데이터셋

file_path = './data/2016_middle_shcool_graduates_report.xlsx'
df = pd.read_excel(file_path, header = 0)
df

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,외고_국제고,예고_체고,마이스터고,자사고,자공고,기타진학,취업,미상,위도,경도
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.007,0.000,0.011,0.227,0.000,0.004,0,0.000,37.594942,127.038909
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.035,0.008,0.000,0.043,0.004,0.031,0,0.000,37.577473,127.003857
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.012,0.003,0.006,0.090,0.003,0.009,0,0.003,37.491637,127.071744
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.013,0.019,0.019,0.065,0.000,0.019,0,0.000,37.480439,127.062201
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.010,0.005,0.000,0.282,0.000,0.010,0,0.000,37.510750,127.008900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
410,410,강남구,국립국악중학교,9,국립,주간,9,91,0.060,0.000,...,0.000,0.940,0.000,0.000,0.000,0.000,0,0.000,37.476381,127.051355
411,411,금천구,국립전통예술중학교,9,국립,주간,14,42,0.107,0.000,...,0.000,0.875,0.000,0.000,0.000,0.000,0,0.018,37.446354,126.906424
412,412,광진구,선화예술학교,9,사립,주간,33,241,0.102,0.000,...,0.000,0.861,0.000,0.000,0.000,0.000,0,0.036,37.549642,127.087737
413,413,중구,예원학교,9,사립,주간,31,258,0.170,0.000,...,0.000,0.751,0.000,0.000,0.000,0.048,0,0.031,37.566951,126.971553
414,414,노원구,한국삼육중학교,9,사립,주간,105,102,0.908,0.019,...,0.024,0.000,0.010,0.010,0.000,0.029,0,0.000,37.641056,127.108344

In [13]:
# IPython Console 디스플레이 옵션 설정하기
pd.set_option('display.width', None)        # 출력화면의 너비
pd.set_option('display.max_rows', 100)      # 출력할 행의 개수 한도
pd.set_option('display.max_columns', 10)    # 출력할 열의 개수 한도
pd.set_option('display.max_colwidth', 20)   # 출력할 열의 너비
pd.set_option('display.unicode.east_asian_width', True)   # 유니코드 사용 너비 조정

In [14]:
df.columns

Index(['Unnamed: 0', '지역', '학교명', '코드', '유형', '주야', '남학생수',
       '여학생수', '일반고', '특성화고', '과학고', '외고_국제고', '예고_체고',
       '마이스터고', '자사고', '자공고', '기타진학', '취업', '미상', '위도',
       '경도'],
      dtype='object')

In [15]:
df.columns.values

array(['Unnamed: 0', '지역', '학교명', '코드', '유형', '주야', '남학생수', '여학생수', '일반고',
       '특성화고', '과학고', '외고_국제고', '예고_체고', '마이스터고', '자사고', '자공고', '기타진학',
       '취업', '미상', '위도', '경도'], dtype=object)

In [16]:
# EDA 데이터 탐색

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  415 non-null    int64
 1   지역          415 non-null    object
 2   학교명         415 non-null    object
 3   코드          415 non-null    int64
 4   유형          415 non-null    object
 5   주야          415 non-null    object
 6   남학생수        415 non-null    int64
 7   여학생수        415 non-null    int64
 8   일반고         415 non-null    float64
 9   특성화고        415 non-null    float64
 10  과학고         415 non-null    float64
 11  외고_국제고      415 non-null    float64
 12  예고_체고       415 non-null    float64
 13  마이스터고       415 non-null    float64
 14  자사고         415 non-null    float64
 15  자공고         415 non-null    float64
 16  기타진학        415 non-null    float64
 17  취업          415 non-null    int64
 18  미상          415 non-null    float64
 19  위도          415 non-null    float64
 20  경도          415 non-null    float64
dtypes: float64(12), int64(5), object(4)
memory usage: 68.2+ KB

In [17]:
df.describe()

,Unnamed: 0,코드,남학생수,여학생수,일반고,...,기타진학,취업,미상,위도,경도
count,415.000000,415.000000,415.000000,415.000000,415.000000,...,415.000000,415.0,415.000000,415.000000,415.000000
mean,207.000000,3.197590,126.532530,116.173494,0.623080,...,0.069571,0.0,0.001670,37.491969,127.032792
std,119.944432,0.804272,79.217906,76.833082,0.211093,...,0.235630,0.0,0.003697,0.348926,0.265245
min,0.000000,3.000000,0.000000,0.000000,0.000000,...,0.000000,0.0,0.000000,34.979940,126.639561
25%,103.500000,3.000000,80.000000,71.500000,0.566500,...,0.000000,0.0,0.000000,37.501934,126.921758
50%,207.000000,3.000000,129.000000,118.000000,0.681000,...,0.007000,0.0,0.000000,37.547702,127.013579
75%,310.500000,3.000000,177.500000,161.500000,0.758000,...,0.015000,0.0,0.003000,37.590670,127.071265
max,414.000000,9.000000,337.000000,422.000000,0.908000,...,1.000000,0.0,0.036000,37.694777,129.106974

In [19]:
df = df.drop('Unnamed: 0',axis = 1)

In [20]:
df

,지역,학교명,코드,유형,주야,...,기타진학,취업,미상,위도,경도
0,성북구,서울대학교사범대학부설중학교...,3,국립,주간,...,0.004,0,0.000,37.594942,127.038909
1,종로구,서울대학교사범대학부설여자중학교...,3,국립,주간,...,0.031,0,0.000,37.577473,127.003857
2,강남구,개원중학교,3,공립,주간,...,0.009,0,0.003,37.491637,127.071744
3,강남구,개포중학교,3,공립,주간,...,0.019,0,0.000,37.480439,127.062201
4,서초구,경원중학교,3,공립,주간,...,0.010,0,0.000,37.510750,127.008900
...,...,...,...,...,...,...,...,...,...,...,...
410,강남구,국립국악중학교,9,국립,주간,...,0.000,0,0.000,37.476381,127.051355
411,금천구,국립전통예술중학교,9,국립,주간,...,0.000,0,0.018,37.446354,126.906424
412,광진구,선화예술학교,9,사립,주간,...,0.000,0,0.036,37.549642,127.087737
413,중구,예원학교,9,사립,주간,...,0.048,0,0.031,37.566951,126.971553
414,노원구,한국삼육중학교,9,사립,주간,...,0.029,0,0.000,37.641056,127.108344

In [22]:
folium.Map(location=[37.55,126.98], tiles='Stamen Terrain',zoom_start=12)

In [21]:
# 지도 위치 표시

mschool_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', 
                        zoom_start=12)

In [24]:
# 중학교 위치 정보를 circle marker 로 표시

for name,lat,lng in zip(df.학교명, df.위도, df.경도):
    folium.CircleMarker([lat,lng],
                       radius = 5, # 원의 반지름
                        color = 'brown',
                       fill=True,
                        fill_color = 'coral',
                        fill_opacity = 0.7,  # 투명도
                        popup = name
                       ).add_to(mschool_map)

In [25]:
mschool_map.save('./data/seoul_mschool.html')

In [26]:
# 데이터 전처리

# 원 핫 인코딩 (더미 변수)

from sklearn.preprocessing import OneHotEncoder, LabelEncoder

le = LabelEncoder()
oh = OneHotEncoder()

In [28]:
df.columns

Index(['지역', '학교명', '코드', '유형', '주야', '남학생수', '여학생수',
       '일반고', '특성화고', '과학고', '외고_국제고', '예고_체고',
       '마이스터고', '자사고', '자공고', '기타진학', '취업', '미상', '위도',
       '경도'],
      dtype='object')

In [34]:
onehot_location = le.fit_transform(df['지역'])
onehot_code = le.fit_transform(df['코드'])
onehot_type = le.fit_transform(df['유형'])
onehot_day = le.fit_transform(df['주야'])

In [35]:
df['location'] = onehot_location
df['code'] = onehot_code
df['type'] = onehot_type
df['day'] = onehot_day

In [36]:
df

,지역,학교명,코드,유형,주야,...,경도,location,code,type,day
0,성북구,서울대학교사범대학부설중학교...,3,국립,주간,...,127.038909,16,0,1,0
1,종로구,서울대학교사범대학부설여자중학교...,3,국립,주간,...,127.003857,22,0,1,0
2,강남구,개원중학교,3,공립,주간,...,127.071744,0,0,0,0
3,강남구,개포중학교,3,공립,주간,...,127.062201,0,0,0,0
4,서초구,경원중학교,3,공립,주간,...,127.008900,14,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
410,강남구,국립국악중학교,9,국립,주간,...,127.051355,0,2,1,0
411,금천구,국립전통예술중학교,9,국립,주간,...,126.906424,7,2,1,0
412,광진구,선화예술학교,9,사립,주간,...,127.087737,5,2,2,0
413,중구,예원학교,9,사립,주간,...,126.971553,23,2,2,0
414,노원구,한국삼육중학교,9,사립,주간,...,127.108344,8,2,2,0

In [38]:
print(df.location.unique())
print(df.code.unique())
print(df.type.unique())
print(df.day.unique())

[16 22  0 14 17  1 18  3  7  6 19 10 24 11  4  8  9 12 21 13  5 15  2 23
 20]
[0 1 2]
[1 0 2]
[0]

In [39]:
df.columns

Index(['지역', '학교명', '코드', '유형', '주야', '남학생수', '여학생수',
       '일반고', '특성화고', '과학고', '외고_국제고', '예고_체고',
       '마이스터고', '자사고', '자공고', '기타진학', '취업', '미상', '위도',
       '경도', 'location', 'code', 'type', 'day'],
      dtype='object')

In [41]:
from sklearn.preprocessing import StandardScaler, OneHotEncoder

In [40]:
# DBSCAN 군집모형

from sklearn import cluster

# 분석에 사용할 속성 선택
columns_list = [9, 10, 13]
X = df.iloc[:, columns_list]
print(X[:5])
print('\n')

   과학고  외고_국제고  자사고
0   0.018        0.007   0.227
1   0.000        0.035   0.043
2   0.009        0.012   0.090
3   0.013        0.013   0.065
4   0.007        0.010   0.282

In [43]:
StandardScaler().fit_transform(X)

array([[ 2.02375287, -0.57972902,  1.84751715],
       [-0.65047921,  1.84782097, -0.48039958],
       [ 0.68663683, -0.14623795,  0.11423133],
       ...,
       [-0.65047921, -1.18661652, -1.0244236 ],
       [-0.65047921, -1.18661652, -1.0244236 ],
       [-0.65047921,  0.89414062, -0.89790638]])

In [44]:
X = StandardScaler().fit_transform(X)

In [45]:
# DBSCAN 모형 생성

db_model = cluster.DBSCAN(eps = 0.2,min_samples = 5)

In [49]:
db_model.fit(X)

DBSCAN(eps=0.2)

In [50]:
# 라벨

db_model.labels_

array([-1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1,
       -1, -1, -1,  2, -1,  0, -1, -1, -1, -1, -1,  0, -1, -1, -1, -1, -1,
        0,  3, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1,  1,  0, -1, -1, -1,
        0, -1, -1, -1, -1,  0, -1,  0,  0, -1, -1,  0, -1, -1, -1,  0,  0,
       -1, -1,  0, -1, -1, -1,  0, -1, -1, -1,  0,  2,  0,  0,  0,  0,  0,
       -1, -1, -1,  0, -1,  0, -1, -1,  0, -1,  0, -1,  0,  0, -1, -1, -1,
       -1,  1,  0, -1,  0,  0, -1, -1, -1,  0, -1, -1, -1, -1, -1,  0,  1,
       -1, -1,  0,  2,  0, -1, -1,  1, -1, -1, -1,  0,  0,  0, -1, -1,  0,
       -1, -1, -1,  0,  0, -1, -1, -1, -1,  0, -1, -1, -1,  0, -1, -1, -1,
        0, -1,  0,  0, -1, -1, -1, -1, -1,  0, -1,  0,  0, -1, -1, -1, -1,
       -1,  0, -1, -1, -1,  1,  0,  3,  1, -1,  0,  0, -1,  0, -1, -1,  0,
        0,  2, -1, -1,  3,  0,  0, -1, -1, -1, -1,  0, -1,  0,  0, -1,  0,
        0,  0, -1, -1,  0, -1, -1, -1, -1, -1,  2,  0, -1, -1, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1,  0, -1, -1, -1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,  0, -1, -1, -1,  0,  0,
       -1, -1,  0, -1,  3,  0,  2, -1, -1, -1, -1,  0, -1, -1, -1,  0, -1,
        0,  0, -1, -1, -1, -1, -1,  1, -1,  0,  1, -1,  0,  0,  1, -1,  2,
       -1,  0, -1, -1, -1, -1,  0, -1, -1,  1,  0, -1,  0, -1, -1,  0,  3,
        0, -1, -1, -1,  2, -1, -1, -1, -1,  0,  0,  0,  1, -1, -1, -1, -1,
       -1, -1, -1, -1,  0, -1,  0, -1,  0, -1, -1,  0,  0, -1, -1, -1,  0,
       -1,  0, -1, -1,  0, -1, -1, -1,  0,  1, -1, -1, -1,  0,  1,  1,  1,
       -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1, -1,
       -1, -1, -1,  0, -1, -1, -1,  0, -1,  0,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  0], dtype=int64)

In [51]:
cluster_label = db_model.labels_

In [54]:
# 예측 결과를 데이터 프레임에 추가

df["cluster"] = cluster_label
df.head()

,지역,학교명,코드,유형,주야,...,location,code,type,day,cluster
0,성북구,서울대학교사범대학부설중학교...,3,국립,주간,...,16,0,1,0,-1
1,종로구,서울대학교사범대학부설여자중학교...,3,국립,주간,...,22,0,1,0,-1
2,강남구,개원중학교,3,공립,주간,...,0,0,0,0,-1
3,강남구,개포중학교,3,공립,주간,...,0,0,0,0,-1
4,서초구,경원중학교,3,공립,주간,...,14,0,0,0,-1

In [56]:
# 클러스터 값으로 그룹화하고, 그룹별로 내용 출력 (첫 5행만 출력)
grouped_cols = [0, 1, 3] + columns_list
grouped = df.groupby('cluster')
for key, group in grouped:
    print('* key :', key)
    print('* number :', len(group))    
    print(group.iloc[:, grouped_cols].head())
    print('\n')

* key : -1
* number : 255
     지역                               학교명  유형  과학고  외고_국제고  \
0  성북구  서울대학교사범대학부설중학교.....    국립   0.018        0.007
1  종로구  서울대학교사범대학부설여자중학교...  국립   0.000        0.035
2  강남구           개원중학교                  공립   0.009        0.012
3  강남구           개포중학교                  공립   0.013        0.013
4  서초구           경원중학교                  공립   0.007        0.010

   자사고
0   0.227
1   0.043
2   0.090
3   0.065
4   0.282


* key : 0
* number : 102
      지역          학교명  유형  과학고  외고_국제고  자사고
13  서초구  동덕여자중학교  사립     0.0        0.022   0.038
22  강남구      수서중학교  공립     0.0        0.019   0.044
28  서초구      언남중학교  공립     0.0        0.015   0.050
34  강남구      은성중학교  사립     0.0        0.016   0.065
43  송파구      거원중학교  공립     0.0        0.021   0.054


* key : 1
* number : 45
         지역          학교명  유형  과학고  외고_국제고  자사고
46     강동구      동신중학교  사립     0.0          0.0   0.044
103    양천구      신원중학교  공립     0.0          0.0   0.006
118    구로구      개봉중학교  공립     0.0          0.0   0.012
126  영등포구      대림중학교  공립     0.0          0.0   0.050
175    중랑구  혜원여자중학교  사립     0.0          0.0   0.004


* key : 2
* number : 8
       지역      학교명  유형  과학고  외고_국제고  자사고
20   서초구  서초중학교  공립   0.003        0.013   0.085
79   강동구  한영중학교  사립   0.004        0.011   0.077
122  구로구  구일중학교  공립   0.004        0.012   0.079
188  동작구  대방중학교  공립   0.003        0.015   0.076
214  도봉구  도봉중학교  공립   0.004        0.011   0.072


* key : 3
* number : 5
         지역      학교명  유형  과학고  외고_국제고  자사고
35     서초구  이수중학교  공립     0.0        0.004   0.100
177  동대문구  휘경중학교  공립     0.0        0.004   0.094
191    동작구  문창중학교  공립     0.0        0.004   0.084
259    마포구  성사중학교  공립     0.0        0.004   0.078
305    강북구  강북중학교  공립     0.0        0.004   0.088

In [58]:
# 그래프로 표현 - 시각화
colors = {-1:'gray', 0:'coral', 1:'blue', 2:'green', 3:'red', 4:'purple', 
          5:'orange', 6:'brown', 7:'brick', 8:'yellow', 9:'magenta', 10:'cyan'}

cluster_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', 
                        zoom_start=12)

for name, lat, lng, clus in zip(df.학교명, df.위도, df.경도, df.cluster):  
    folium.CircleMarker([lat, lng],
                        radius=5,                   # 원의 반지름
                        color=colors[clus],         # 원의 둘레 색상
                        fill=True,
                        fill_color=colors[clus],    # 원을 채우는 색
                        fill_opacity=0.7,           # 투명도    
                        popup=name
    ).add_to(cluster_map)

In [59]:
cluster_map.save('./data/seoul_mschool_cluster.html')

In [60]:
# X2 데이터셋에 대하여 위의 과정을 반복(과학고, 외고국제고, 자사고 진학률 + 유형)
columns_list2 = [9, 10, 13, 22]
X2 = df.iloc[:, columns_list2]
print(X2[:5])
print('\n')

   과학고  외고_국제고  자사고  type
0   0.018        0.007   0.227     1
1   0.000        0.035   0.043     1
2   0.009        0.012   0.090     0
3   0.013        0.013   0.065     0
4   0.007        0.010   0.282     0

In [62]:
X2 = StandardScaler().fit(X2).transform(X2)
dbm2 = cluster.DBSCAN(eps=0.2, min_samples=5)
dbm2.fit(X2)  
df['cluster2'] = dbm2.labels_   

grouped2_cols = [0, 1, 3] + columns_list2
grouped2 = df.groupby('cluster2')
for key, group in grouped2:
    print('* key :', key)
    print('* number :', len(group))    
    print(group.iloc[:, grouped2_cols].head())
    print('\n')

* key : -1
* number : 281
     지역                               학교명  유형  과학고  외고_국제고  \
0  성북구  서울대학교사범대학부설중학교.....    국립   0.018        0.007
1  종로구  서울대학교사범대학부설여자중학교...  국립   0.000        0.035
2  강남구           개원중학교                  공립   0.009        0.012
3  강남구           개포중학교                  공립   0.013        0.013
4  서초구           경원중학교                  공립   0.007        0.010

   자사고  type
0   0.227     1
1   0.043     1
2   0.090     0
3   0.065     0
4   0.282     0


* key : 0
* number : 8
       지역      학교명  유형  과학고  외고_국제고  자사고  type
22   강남구  수서중학교  공립     0.0        0.019   0.044     0
43   송파구  거원중학교  공립     0.0        0.021   0.054     0
51   송파구  방이중학교  공립     0.0        0.021   0.068     0
93   강서구  방원중학교  공립     0.0        0.019   0.057     0
164  중랑구  원묵중학교  공립     0.0        0.020   0.062     0


* key : 1
* number : 59
      지역      학교명  유형  과학고  외고_국제고  자사고  type
28  서초구  언남중학교  공립     0.0        0.015   0.050     0
47  강동구  둔촌중학교  공립     0.0        0.010   0.026     0
58  강동구  성내중학교  공립     0.0        0.013   0.026     0
62  강동구  신명중학교  공립     0.0        0.009   0.031     0
67  송파구  오금중학교  공립     0.0        0.015   0.072     0


* key : 2
* number : 6
         지역          학교명  유형  과학고  외고_국제고  자사고  type
46     강동구      동신중학교  사립     0.0          0.0   0.044     2
279  서대문구  중앙여자중학교  사립     0.0          0.0   0.036     2
282  서대문구      한성중학교  사립     0.0          0.0   0.042     2
349      중구      장충중학교  사립     0.0          0.0   0.038     2
354      중구      한양중학교  사립     0.0          0.0   0.034     2


* key : 3
* number : 11
       지역          학교명  유형  과학고  외고_국제고  자사고  type
103  양천구      신원중학교  공립     0.0          0.0   0.006     0
118  구로구      개봉중학교  공립     0.0          0.0   0.012     0
356  송파구  서울체육중학교  공립     0.0          0.0   0.000     0
391  광진구    서울광진학교  공립     0.0          0.0   0.000     0
396  관악구    서울정문학교  공립     0.0          0.0   0.000     0


* key : 4
* number : 7
       지역      학교명  유형  과학고  외고_국제고  자사고  type
20   서초구  서초중학교  공립   0.003        0.013   0.085     0
122  구로구  구일중학교  공립   0.004        0.012   0.079     0
188  동작구  대방중학교  공립   0.003        0.015   0.076     0
214  도봉구  도봉중학교  공립   0.004        0.011   0.072     0
261  마포구  성서중학교  공립   0.004        0.016   0.067     0


* key : 5
* number : 18
       지역          학교명  유형  과학고  외고_국제고  자사고  type
175  중랑구  혜원여자중학교  사립     0.0          0.0   0.004     2
387  강서구        교남학교  사립     0.0          0.0   0.000     2
388  서초구      다니엘학교  사립     0.0          0.0   0.000     2
389  강남구        밀알학교  사립     0.0          0.0   0.000     2
390  관악구        새롬학교  사립     0.0          0.0   0.000     2


* key : 6
* number : 5
         지역      학교명  유형  과학고  외고_국제고  자사고  type
126  영등포구  대림중학교  공립     0.0          0.0   0.050     0
178    동작구  강남중학교  공립     0.0          0.0   0.028     0
286    성동구  경수중학교  공립     0.0          0.0   0.043     0
298    성동구  성원중학교  공립     0.0          0.0   0.042     0
318    강북구  수유중학교  공립     0.0          0.0   0.052     0


* key : 7
* number : 5
         지역      학교명  유형  과학고  외고_국제고  자사고  type
35     서초구  이수중학교  공립     0.0        0.004   0.100     0
177  동대문구  휘경중학교  공립     0.0        0.004   0.094     0
191    동작구  문창중학교  공립     0.0        0.004   0.084     0
259    마포구  성사중학교  공립     0.0        0.004   0.078     0
305    강북구  강북중학교  공립     0.0        0.004   0.088     0


* key : 8
* number : 5
       지역              학교명  유형  과학고  외고_국제고  자사고  type
198  관악구  서울문영여자중학교  사립     0.0        0.021   0.014     2
316  강북구      성암여자중학교  사립     0.0        0.020   0.008     2
327  성북구      한성여자중학교  사립     0.0        0.022   0.011     2
334  종로구      덕성여자중학교  사립     0.0        0.023   0.023     2
414  노원구      한국삼육중학교  사립     0.0        0.024   0.010     2


* key : 9
* number : 5
       지역          학교명  유형  과학고  외고_국제고  자사고  type
66   송파구  영파여자중학교  사립     0.0        0.010   0.010     2
162  중랑구  영란여자중학교  사립     0.0        0.011   0.011     2
234  도봉구  정의여자중학교  사립     0.0        0.010   0.005     2
339  용산구  보성여자중학교  사립     0.0        0.007   0.013     2
344  용산구  신광여자중학교  사립     0.0        0.009   0.017     2


* key : 10
* number : 5
       지역              학교명  유형  과학고  외고_국제고  자사고  type
384  종로구          서울농학교  국립     0.0          0.0     0.0     1
385  마포구        한국우진학교  국립     0.0          0.0     0.0     1
386  종로구          서울맹학교  국립     0.0          0.0     0.0     1
410  강남구      국립국악중학교  국립     0.0          0.0     0.0     1
411  금천구  국립전통예술중학교  국립     0.0          0.0     0.0     1

In [63]:
df.head()

,지역,학교명,코드,유형,주야,...,code,type,day,cluster,cluster2
0,성북구,서울대학교사범대학부설중학교...,3,국립,주간,...,0,1,0,-1,-1
1,종로구,서울대학교사범대학부설여자중학교...,3,국립,주간,...,0,1,0,-1,-1
2,강남구,개원중학교,3,공립,주간,...,0,0,0,-1,-1
3,강남구,개포중학교,3,공립,주간,...,0,0,0,-1,-1
4,서초구,경원중학교,3,공립,주간,...,0,0,0,-1,-1

In [64]:
cluster2_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', 
                        zoom_start=12)

In [65]:
for name, lat, lng, clus in zip(df.학교명, df.위도, df.경도, df.cluster2):  
    folium.CircleMarker([lat, lng],
                        radius=5,                   # 원의 반지름
                        color=colors[clus],         # 원의 둘레 색상
                        fill=True,
                        fill_color=colors[clus],    # 원을 채우는 색
                        fill_opacity=0.7,           # 투명도    
                        popup=name
    ).add_to(cluster2_map)

In [73]:
# 지도를 html 파일로 저장하기
cluster2_map.save('./data/seoul_mschool_cluster2.html')

In [67]:
# X3 데이터셋에 대하여 위의 과정을 반복(과학고, 외고_국제고)
columns_list3 = [9, 10]
X3 = df.iloc[:, columns_list3]
print(X3[:5])
print('\n')

   과학고  외고_국제고
0   0.018        0.007
1   0.000        0.035
2   0.009        0.012
3   0.013        0.013
4   0.007        0.010

In [68]:
X3 = StandardScaler().fit(X3).transform(X3)
dbm3 = cluster.DBSCAN(eps=0.2, min_samples=5)
dbm3.fit(X3)  
df['cluster3'] = dbm3.labels_

In [69]:
grouped3_cols = [0, 1, 3] + columns_list3
grouped3 = df.groupby('cluster3')
for key, group in grouped3:
    print('* key :', key)
    print('* number :', len(group))    
    print(group.iloc[:, grouped3_cols].head())
    print('\n')

* key : -1
* number : 61
     지역                             학교명  유형  과학고  외고_국제고
0  성북구  서울대학교사범대학부설중학교.....  국립   0.018        0.007
3  강남구           개포중학교                공립   0.013        0.013
6  강남구         압구정중학교                공립   0.015        0.036
7  강남구  단국대학교사범대학부속중학교.....  사립   0.032        0.005
8  강남구           대명중학교                공립   0.013        0.029


* key : 0
* number : 160
      지역                               학교명  유형  과학고  외고_국제고
1   종로구  서울대학교사범대학부설여자중학교...  국립     0.0        0.035
13  서초구       동덕여자중학교                  사립     0.0        0.022
22  강남구           수서중학교                  공립     0.0        0.019
28  서초구           언남중학교                  공립     0.0        0.015
29  강남구           언북중학교                  공립     0.0        0.007


* key : 1
* number : 111
      지역      학교명  유형  과학고  외고_국제고
2   강남구  개원중학교  공립   0.009        0.012
4   서초구  경원중학교  공립   0.007        0.010
5   강남구  구룡중학교  공립   0.007        0.007
11  강남구  대치중학교  공립   0.007        0.024
14  서초구  반포중학교  공립   0.010        0.013


* key : 2
* number : 50
         지역      학교명  유형  과학고  외고_국제고
46     강동구  동신중학교  사립     0.0          0.0
103    양천구  신원중학교  공립     0.0          0.0
118    구로구  개봉중학교  공립     0.0          0.0
126  영등포구  대림중학교  공립     0.0          0.0
160  동대문구  숭인중학교  공립     0.0          0.0


* key : 3
* number : 11
         지역      학교명  유형  과학고  외고_국제고
100    양천구  신남중학교  공립   0.007          0.0
115    강서구  화곡중학교  사립   0.008          0.0
151  동대문구  대광중학교  사립   0.005          0.0
194    관악구  봉원중학교  공립   0.004          0.0
209    노원구  광운중학교  사립   0.005          0.0


* key : 4
* number : 12
      지역          학교명  유형  과학고  외고_국제고
9   강남구      대왕중학교  공립   0.006        0.028
27  강남구      신사중학교  공립   0.006        0.032
69  송파구      오주중학교  공립   0.003        0.028
72  송파구      잠실중학교  공립   0.007        0.030
96  양천구  봉영여자중학교  사립   0.006        0.028


* key : 5
* number : 5
       지역      학교명  유형  과학고  외고_국제고
16   강남구  봉은중학교  공립   0.010        0.010
85   강서구  덕원중학교  사립   0.010        0.010
179  동작구  강현중학교  공립   0.011        0.011
262  마포구  숭문중학교  사립   0.010        0.010
366  마포구  상암중학교  공립   0.012        0.012


* key : 6
* number : 5
         지역      학교명  유형  과학고  외고_국제고
89     강서구  마포중학교  사립   0.015        0.010
112    강서구  염창중학교  공립   0.015        0.009
265  서대문구  신연중학교  공립   0.016        0.011
287    광진구  광남중학교  공립   0.016        0.010
359    관악구  구암중학교  공립   0.017        0.011

In [70]:
cluster3_map = folium.Map(location=[37.55,126.98], tiles='Stamen Terrain', 
                        zoom_start=12)

In [71]:
for name, lat, lng, clus in zip(df.학교명, df.위도, df.경도, df.cluster3):  
    folium.CircleMarker([lat, lng],
                        radius=5,                   # 원의 반지름
                        color=colors[clus],         # 원의 둘레 색상
                        fill=True,
                        fill_color=colors[clus],    # 원을 채우는 색
                        fill_opacity=0.7,           # 투명도    
                        popup=name
    ).add_to(cluster3_map)

In [72]:
cluster3_map.save('./data/seoul_mschool_cluster3.html')